@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");

.loading-section {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-family: "quicksand";
}

.pg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.meetup-header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-family: "quicksand";
}
