.hero-container {
  font-family: "Gallient", sans-serif;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.62);
  background: -webkit-linear-gradient(
    left,
    rgba(92, 129, 202, 1) 0%,
    rgba(249, 140, 112, 1) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 80px;
  font-style: normal;
}
#top-text {
  letter-spacing: 15px;
  font-weight: 100;
}

#bttm-text {
  letter-spacing: 50px;
  font-weight: 500;
  margin-bottom: 20vh;
}
