.hero-container {
  font-family: "Gallient", sans-serif;
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 80px;
  font-style: normal;
  padding-top: 5vh;
  opacity: 0; /* Initially hide text */
  transition: opacity 0.9s ease-in-out; /* Smooth transition for opacity */
  width: 95%;
  /* border: 1px solid black; */
}

#top-text {
  letter-spacing: 15px;
  font-weight: 100;
}

#bttm-text {
  letter-spacing: 60px;
  font-weight: 500;
  margin-bottom: 10vh;
  font-style: italic;
}

.hero-text-container.hovered {
  opacity: 1;
}

/* ! Scroll down directional arrow   */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  margin-bottom: 5vh;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/* ! Responsive Design */

@media (min-width: 1200px) {
  .hero-text-container {
    font-size: 40px;
  }
  #bttm-text {
    letter-spacing: 60px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 10vh;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .hero-text-container {
    font-size: 40px;
  }

  #bttm-text {
    letter-spacing: 60px;
    font-weight: 700;
    margin-bottom: 10vh;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .hero-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-text-container {
    font-size: 40px;
  }

  #top-text {
    letter-spacing: 10px;
    font-weight: 500;
  }

  #bttm-text {
    letter-spacing: 60px;
    font-weight: 700;
    margin-bottom: 10vh;
  }
}

@media (max-width: 767px) {
  .hero-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: center;
    font-size: 100%;
    opacity: 1;
    padding-left: 15px;
  }

  #top-text {
    letter-spacing: 5px;
    font-weight: 500;
  }

  #bttm-text {
    letter-spacing: 30px;
    font-weight: 700;
    margin-bottom: 10vh;
    font-style: oblique;
    padding-left: 15px;
  }
}
