.availability-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
  align-self: center;
  padding: 2rem;
  height: 45vh;
  font-family: 'Syne', sans-serif;
  border: 3px solid black;
}

.dates-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.availability-button {
  border-radius: 0.5rem;
}

.free-time-container{
    margin-top: 3vh;
}
