.availability-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 2rem;
  height: 25vh;
}

.dates-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.availability-button {
  border-radius: 0.5rem;
}
