.principles-page {
  height: 80vh;
  background-color: #192e2b;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  justify-content: center;
  padding: 5vh;
  margin: 2vh 2vw;
}

.principle-main-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* font-family: "Gallient", sans-serif; */
  font-family: "Syne", sans-serif;
  font-size: 75px;
  color: #efd452;
  letter-spacing: 15px;
  font-weight: 300;
  width: 100%;
}

.principle-boxes-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 2vh;
  justify-content: space-around;
  align-items: center;
}

.principle-box {
  font-family: "Syne", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  width: 30%;
  margin: 1vw;
  padding: 15px;
}

.principle-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

.principle-title {
  font-weight: 200;
  width: 100%;
  font-size: 33px;
}

.principle-description {
  opacity: 75%;
  font-size: 23px;
}

.tools-icons-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2vw 0vw;

  font-size: 3vh;
  color: #efd552cb;
}

/* Responsive Design */

@media (max-width: 1626px) and (min-width: 1212px) {
  .principle-title {
    font-weight: 200;
    width: 100%;
    font-size: 23px;
  }

  .principle-description {
    /* opacity: 75%; */
    font-size: 18px;
  }
}

@media (max-width: 1211px) and (min-width: 811px) {
  .principles-page {
    padding: 20px;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  .principle-main-title {
    font-size: 60px;
  }

  .principle-boxes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
  }

  .principle-box {
    height: auto;
    /* border: 1px solid black; */
    width: 50vw;
  }

  .principle-title {
    font-size: 35px;
  }

  .principle-description {
    font-size: 20px;
  }
    .tools-icons-container {
    /* width: 100%; */
    margin: 4vw 0vw;
    /* font-size: 2vh; */
  }
}

@media (max-width: 810px) and (min-width: 431px) {
  .principles-page {
    padding: 20px;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  .principle-main-title {
    font-size: 40px;
  }

  .principle-boxes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
  }

  .principle-box {
    height: 25vh;
    border: 1px solid #efd5524e;
    border-radius: 15px;
    width: 65vw;
    margin-bottom: 2vh;
  }

  .principle-title {
    font-size: 25px;
  }

  .principle-description {
    font-size: 20px;
  }

  .tools-icons-container {
    /* width: 100%; */
    /* margin: 2vw 0vw; */
    font-size: 2vh;
  }
}

@media (max-width: 430px) {
  .principles-page {
    padding: 10px;
    height: fit-content;
    align-items: center;
    justify-content: baseline;
    text-align: center;
  }
  .principle-main-title {
    font-size: 38px;
  }

  .principle-boxes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
  }

  .principle-text-container {
    height: auto;
  }

  .principle-box {
    height: 25vh;
    border: 1px solid #efd5524e;
    border-radius: 15px;
    width: 75vw;
    margin-bottom: 2vh;
  }

  .principle-title {
    font-size: 20px;
  }

  .principle-description {
    font-size: 18px;
  }

  .tools-icons-container {
    /* width: 100%; */
    margin-bottom: 2vh;
    font-size: 2vh;
  }
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) and (min-width: 992px) {
}

@media (max-width: 991px) and (min-width: 768px) {
}

@media (max-width: 767px) {
}
