.App {
  display: flex;
  text-align: center;
  min-height: 103vh;
  flex-direction: column;
  align-items: center;
  width: auto;
}

#light {
  color: black;
  background: rgba(92, 129, 202, 1);
  background: -moz-linear-gradient(
    left,
    rgba(92, 129, 202, 1) 0%,
    rgba(249, 140, 112, 1) 100%
  );
}

#dark {
  color: white;
    background: rgba(92, 129, 202, 1);
  background: -moz-linear-gradient(
    left,
    rgba(249, 140, 112, 1) 0%,
      rgba(92, 129, 202, 1) 100%
  );
}
