.App {
  display: flex;
  text-align: center;
  background-color: #282c34;
  min-height: 110vh;
  flex-direction: column;
  align-items: center;
  color: black;
  width: auto;
  
  background: rgba(92, 129, 202, 1);
  background: -moz-linear-gradient(
    left,
    rgba(92, 129, 202, 1) 0%,
    rgba(249, 140, 112, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(92, 129, 202, 1) 0%,
    rgba(249, 140, 112, 1) 100%
  );
}

