.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  height: 40vh;
  padding: 1vh 5vw;
  margin: 2vh 2vw;
  background-color: whitesmoke;
}

.contact-title-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  height: fit-content;
  font-family: "Gallient", sans-serif;
  line-height: 0.5;
}

#contact {
  font-size: 75px;
  letter-spacing: 15px;
  font-weight: 300;
}

#contact-desc {
  font-size: 18px;
  padding-left: 3px;
  letter-spacing: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.674);
}

.contact-info-container {
  /* border: 1.5px solid black; */
  border-radius: 100px;
  width: 45vw;
  height: 15vh;
  margin-top: 5vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Syne", sans-serif;
  background: linear-gradient(
    to right,
    rgba(92, 129, 202, 1) 0%,
    rgba(249, 140, 112, 1) 100%
  );
}

.contact-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}

.contact-icon {
  margin: 10px;
  font-size: 3vh;
  color: #f2f1f7;
}

.contact-text {
  color: #ffddcc;
  font-size: 2vh;
}

.popup-button {
  background-color: transparent;
  border: none;
  display: flex;
  font-family: "Syne", sans-serif;
  margin: 10px;
  align-items: center;
}

/* Responsive Design */

@media (min-width: 1200px) {
}

@media (max-width: 1199px) and (min-width: 992px) {
}

@media (max-width: 991px) and (min-width: 768px) {
  /* .contact-text{
    font-size: 2vh;
  } */
}

@media (max-width: 859px) and (min-width: 658px) {
  .contact-container {
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: baseline;
  }
  .contact-title-container {
    justify-content: space-around;
    height: auto;
  }
  .contact-info-container {
    width: 40%;
    height: auto;
    padding: 5px;
    margin: 0;
  }

  #contact {
    font-size: 55px;
  }
  #contact-desc {
    font-size: 15px;
  }

  .contact-text {
    font-size: 1.5vh;
  }
}

@media (max-width: 657px) {
  .contact-container {
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: baseline;
  }
  .contact-title-container {
    justify-content: space-around;
    height: auto;
  }
  .contact-info-container {
    width: fit-content;
    height: auto;
    padding: 3px;
    margin: 0;
    border: none;
  }

  .contact-link {
    font-size: 15px;
  }
  #contact {
    font-size: 30px;
    letter-spacing: 10px;
  }
  #contact-desc {
    font-size: 11px;
    letter-spacing: 5px;
  }

  .contact-text {
    display: none;
  }
}
