#container {
  width: 100%;
  /* height: 10%; */
  overflow: hidden;
}

.ocean {
  /* height: 20%; */
  width: 100vw;
  position: absolute;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
  bottom: 0;
  left: 0;
  background: #015871;
  opacity: 1;
  z-index: 0;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  /* top: -198px; */
  width: 3400px;
  height: 198px;
  animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.wave:nth-of-type(2) {
  /* top: -175px; */
  animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.65s infinite,
    swell 14s ease -0.55s infinite;
  opacity: 0.8;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -5px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
