.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.side-nav-container{
  display:flex;
  flex-direction: row;
  width: 99%;
  justify-content: flex-end;
}

#settings-icon {
  position:initial;
  right: .8vw;
  color: rgba(48, 46, 46, 0.719);
  margin: 0em 0em 0em 1em;
  font-size: 2.0rem;
  z-index: 3;
}

#settings-icon:hover {
    color: rgb(41, 91, 190);}

.sidenav {
  font-family: "quicksand";
  height: 100vh;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  opacity: 0.9;
  z-index: 2;
  padding: 7vh 0;
  bottom: 0;
  top: 19.5%;
  right: -1vw;
  transition: width 0.35s;
  background-color: #cfe0e0;
  overflow-x: hidden;
  border: solid 2px rgb(255, 252, 252);
  display: inline-block;
}

#content-container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
#nav-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

#switch-container{
  position:absolute;
  top: .5vh;
  left: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.8vw;
  color: black;
  display: block;
  transition: 0.3s;
}

#login{
  text-decoration:underline;
}

.sidenav a:hover {
  color: rgba(249, 140, 112, 1);
  font-size: 1.9vw;
  background-color: white;
}

.github-button {
  margin: 5px 0px;
}
