/* FOR BUBBLE STYLING */

.bubble-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  padding: 0px;
  margin-top: 8vh;
  justify-content: space-between;
}

.bubble {
  display: inline-block;
  color: black;
  height: 100%;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 8px 8px 0px #0000003d;

}

.x1 {
  width: 24vw;
  background: radial-gradient(
    circle at 50% 55%,
    rgba(240, 245, 255, 0.9),
    rgba(240, 245, 255, 0.9) 40%,
    rgba(225, 238, 255, 0.8) 60%,
    rgba(43, 130, 255, 0.1)
  );
}

.x2 {
  width: 29vw;
  background: radial-gradient(
    circle at 50% 55%,
    rgba(240, 245, 255, 0.9),
    rgba(240, 245, 255, 0.9) 40%,
    rgba(225, 238, 255, 0.8) 60%,
    rgba(143, 30, 55, 0.2)
  );
}

.x3 {
  width: 26vw;
  background: radial-gradient(
    circle at 50% 55%,
    rgba(240, 245, 255, 0.9),
    rgba(240, 245, 255, 0.9) 40%,
    rgba(225, 238, 255, 0.8) 60%,
    rgba(43, 130, 55, 0.3)
  );
}

.bubble:before {
  content: "";
  display: inline-block;
  padding-top: 100%;
}

.bubble:after {
  content: "";
  position: absolute;
  top: 2%;
  left: 4.5%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  filter: none;
  -webkit-filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
  display: block;
  background: radial-gradient(
    circle at 50% 80%,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 74%,
    white 80%,
    white 84%,
    rgba(255, 255, 255, 0) 100%
  );
}

.bubble:hover{
  animation: pop 1s cubic-bezier(0.16, 0.87, 0.48, 0.99) forwards;
}

@keyframes pop {
  from {
    opacity: 1;
    transform: translateZ(0) scale(1, 1);
  }

  to {
    opacity: 0;
    transform: translateZ(0) scale(1.25, 1.25);
  }
}

/* FOR INNER TEXT */
.text-container {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  /* align-content: center; */
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
}

.text-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  /* display: flex; */
  color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  bottom: -11vh;
  top: -15vh;
  left: -3vw;
  right: -3vw;
  font-size: 20vw;
  
}

.text-container > h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* font-family: "quicksand"; */
  /* font-weight: lighter; */
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: rgb(71, 70, 70);
}

.project-1 {
  animation: animate-1 10s linear infinite;
  font-size: 1.5vw;
}

.project-2 {
  animation: animate-2 11s linear infinite;
  font-size: 2.3vw
}

.project-3 {
  animation: animate-1 9s linear infinite;
  font-size: 1.5vw;
}

@keyframes animate-1 {
  0% {
    transform: translateY(-200px) rotate(0deg);
  }

  25% {
    transform: translateY(-220px) rotate(5deg);
  }

  50% {
    transform: translateY(-210px) rotate(2deg);
  }

  75% {
    transform: translateY(-220px) rotate(-1deg);
  }

  100% {
    transform: translateY(-200px) rotate(0deg);
  }
}

@keyframes animate-2 {
  0% {
    transform: translateY(-230px) rotate(-10deg);
  }

  25% {
    transform: translateY(-250px) rotate(-5deg);
  }

  50% {
    transform: translateY(-240px) rotate(-3deg);
  }

  75% {
    transform: translateY(-250px) rotate(5deg);
  }

  100% {
    transform: translateY(-230px) rotate(-10deg);
  }
}

@keyframes animate-3 {
  0% {
    transform: translateY(-120px) rotate(2deg);
  }

  25% {
    transform: translateY(-100px) rotate(5deg);
  }

  50% {
    transform: translateY(-80px) rotate(0deg);
  }

  75% {
    transform: translateY(-100px) rotate(-1deg);
  }

  100% {
    transform: translateY(-120px) rotate(2deg);
  }
}

/* @keyframes animate {
  0%{
    transform: translateY(-10px) rotate(0deg)
  }
  25%{
    transform: translateY(-100px) rotate(180deg)
  }
  50%{
    transform: translateY(-200px) rotate(360deg)
  }
  75%{
    transform: translateY(-100px) rotate(-180deg)
  }
  100%{
    transform: translateY(-30px) rotate(0deg)
  }
} */
