.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  padding: 3vh 5vw;
  margin: 5vh 2vw;
  width: auto;
  background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0);
  color: #264653;
  gap: 2rem;
}

.contact-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Gallient", sans-serif;
  gap: 0.8rem;
}

#contact {
  font-size: clamp(2.5rem, 7vw, 5rem);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  letter-spacing: 10px;
  margin: 0;
}

#contact-desc {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 5px;
}

.contact-info-container {
  background: linear-gradient(to right, rgba(92, 129, 202, 1), rgba(249, 140, 112, 1));
  border-radius: 50px;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer-contact-link, .popup-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Syne", sans-serif;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: #faefe9;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.footer-contact-link:hover, .popup-button:hover {
  color: #f9a97a;
  transform: translateY(-2px);
}

.contact-icon {
  margin-right: 0.5rem;
  font-size: 1.8rem;
  color: #f2f1f7;
}

.contact-text {
  font-size: 1rem;
  text-decoration: underline;
}

/* Glide In Animation */
.popup-content.glide-in {
  animation: glideIn 0.5s ease forwards;
  opacity: 0;
  transform: translateY(40px) scale(0.95);
}

@keyframes glideIn {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* Responsive Design */
@media (max-width: 860px) {
  .contact-container {
    flex-direction: column;
    gap: 3rem;
    margin: 3vh 2vw;
    padding: 2vh 4vw;
  }

  .contact-title-container {
    align-items: center;
    text-align: center;
  }

  #contact {
    font-size: clamp(2rem, 6vw, 4rem);
  }

  .contact-info-container {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 15px 20px;
  }
}

@media (max-width: 500px) {
  .contact-info-container {
    gap: 1rem;
  }
}
