@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");

.header-container {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  width: 95vw;
  max-height: 19.3vh;
  border-radius: 10px;
  margin: 1em 0em;
  justify-content: center;
  color: #282c34;
  overflow: hidden;
  box-shadow: 0px 16px 10px 0px #0000003d;
  margin: 0.6em 0em 0.8em 0em;
}

#date {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  letter-spacing: 3vw;
  font-size: 13vw;
}

#time {
  font-family: "quicksand";
  font-weight: 300;
  height: auto;
  position: absolute;
  margin-bottom: 10px;
  right: 4vw;
  align-self: flex-end;
  z-index: 2;
  color: white;
}

/* CLOUD BACKGROUND: */

#clouds {
  padding: 100px 0;
  width: 100%;
  height: 5vw;
  background: linear-gradient(to top, #48a2e7 0%, rgb(189, 211, 221) 100%);
}

/*cloud shape*/
.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  /* animation: none; */
  border-radius: 200px;
  position: relative;
  box-shadow: 0px 11px 10px 0px #0000003d;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.c1 {
  left: 200px;
  animation: moveclouds 57s linear infinite;
  -moz-animation: moveclouds 57s linear infinite;
  -o-animation: moveclouds 57s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.c2 {
  left: 550px;
  transform: scale(0.6);
  top: -140px;
  opacity: 0.6;
  z-index: 2;

  /*opacity proportional to the size*/
  /*Speed also proportional to the size and opacity*/
  /*More the speed. Less the time in seconds*/
  animation: moveclouds 55s linear infinite;
  -moz-animation: moveclouds 55s linear infinite;
  -o-animation: moveclouds 55s linear infinite;
}

.c3 {
  left: 750px;
  top: -175px;
  /* z-index: 2; */
  color: black;
  transform: scale(0.8);
  opacity: 0.8;
  animation: moveclouds 60s linear infinite;
  -moz-animation: moveclouds 60s linear infinite;
  -o-animation: moveclouds 60s linear infinite;
}

.c4 {
  left: 970px;
  top: -160px;
  z-index: 2;
  transform: scale(0.75);
  opacity: 0.75;
  animation: moveclouds 50s linear infinite;
  -moz-animation: moveclouds 50s linear infinite;
  -o-animation: moveclouds 50s linear infinite;
}

.c5 {
  left: 1150px;
  top: -250px;
  z-index: 2;

  transform: scale(0.65);
  opacity: 0.65;
  animation: moveclouds 55s linear infinite;
  -moz-animation: moveclouds 55s linear infinite;
  -o-animation: moveclouds 55s linear infinite;
}

/*animate*/
@keyframes moveclouds {
  0% {
    margin-left: 105%;
  }

  100% {
    margin-left: -101%;
  }
}



/* ********* MATRIX HEADER THEMES ********* */

#hidden {
  visibility: hidden;
}

.matrix-header {
  /* background-color: #333; */
  color: #CCC;
}

#matrix-clouds {
  background: linear-gradient(to top, #3b1157 0%, rgb(109, 78, 119) 100%);
}
