.switch {
  font-size: 2em;
  transition: 1s;
    margin: .5em 0.1em 0em 1em;

  /* padding: 10px 8px 8px 32px; */
}

.switch:hover {
  color: goldenrod
}
#full{
  color: goldenrod;
}

.hidden {
  display: none;
}

