h1 {
  text-align: center;
}

.timeline-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  height: 100%;
}

.timeline-container::after {
  background-color: #e17b77;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  animation: grow 5s infinite linear;
}

@keyframes grow {
  0% {
    background-color: white;
  }
  50% {
    background-color: #e17b77;
  }
  100% {
    background-color: white;
  }
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-family: "quicksand";
  font-weight: lighter;
  color: #ffddcc;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  margin: 1vw;
  position: relative;
  width: 60vw;
  max-width: 70%;
  text-align: right;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.555);
}

.timeline-item-content::after {
  content: " ";
  background-color: #fff;
  opacity: 0.4;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-size: 0.7vw;
  font-weight: bold;
  top: 1vh;
  left: 0.5vw;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}
/* @media only screen and (max-width: 767px)
.timeline-item-content .tag {
     width: calc(100% - 10px);
    text-align: center;
} */

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 0.5vw;
}

.job-location {
  padding-top: 1vh;
  text-align: left;
}
time {
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  background: none;
  position: absolute;
  top: 10px;
}

.timeline-item-content ul {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  line-height: 3vh;
  margin: 5px 0;
  max-width: 500px;
}

.timeline-item-content li {
  /* color: #333; */
  text-align: left;

  text-decoration: none;
  /* font-size: 1rem; */
  /* font-size: 14px; */
  font-weight: bold;
}

.timeline-item-content li::after {
  /* content: " ►"; */
  /* font-size: 1em; */
  /* font-size: 12px; */
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }

  .timeline-item-content a::after {
    display: none;
  }
}

/* @keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.job-img {
  transform-origin: center center;
  animation: zoom 15s infinite linear;
} */
