.gazer-container {
  font-family: "quicksand";
  color: #ffddcc;
  margin: 3vh 0vw 15vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
  border-radius: 15px;
  /* box-shadow: 8px 11px 11px 2px #0000003d; */
  transition: 4s;
  /* width: 100%;
  height: 100%; */
  /* animation: grow 20 infinite linear; */
  /* transform-origin: center center; */
}

/* .gazer-container:hover {
  transform: scale(1.1);
} */

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

/* .main-photo:hover {
  animation: zoom 20s infinite linear;
} */

.main-photo {
  width: 50vw;
  height: 60vh;
  transition: transform 200ms;
  /* object-fit: cover; */
  border-radius: 15px;
  box-shadow: 8px 11px 11px 2px #0000003d;
  /* position: absolute; */
  /* animation: zoom 20s infinite linear; */
}

.drop {
  transform: translateY(100vw);
  opacity: 0.7;
}

.left {
  transform: translateX(-100vw);
}

.right {
  transform: translateX(100vw);
}

.next {
  display: none;
}
