
.form-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .link-header {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  font-family: "quicksand";
} */
