.services-page {
  height: 90vh;
  width: 100%;
  background-color: #faf3e9;
  color: #264653;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

.service-main-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.service-main-title {
  font-family: "Gallient", sans-serif;
  font-size: 75px;
  /* margin-bottom: 10vh; */
  letter-spacing: 15px;
  font-weight: 300;
  width: 95vw;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 2vh;
  /* height: 35vh; */
  justify-content: space-around;
  align-items: center;
}

.service-box {
  font-family: "Syne", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 25vw;
  margin: 1vw;
  /* border: 1px solid #264653; */
  padding: 15px;
}

.animation-box {
  border: 1px solid #264653;
  height: 25vh;
  width: 300px;
}

.service-text-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  height: 30vh;
  /* border: 1px solid #264653; */
  /* padding: 15px; */
}

.service-title {
  font-weight: 200;
  /* border: 1px solid #264653; */
  width: 100%;
  font-size: 33px;
}

.service-description {
  opacity: 75%;
  /* border: 1px solid #264653; */
  font-size: 23px;
}
