.services-page {
  height: 90vh;
  background-color: #faf3e9;
  color: #264653;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh;
  margin: 2vh 2vw;
  border-radius: 15px;
}

.service-main-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Gallient", sans-serif;
  font-size: 75px;
  letter-spacing: 15px;
  font-weight: 300;
  width: 100%;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 2vh;
  justify-content: space-around;
  align-items: center;
}

.service-box {
  font-family: "Syne", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 25vw;
  margin: 1vw;
  padding: 15px;
}

.animation-box {
  border: 1px solid #264653;
  height: 25vh;
  width: 300px;
}

.service-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
}

.service-title {
  font-weight: 200;
  width: 100%;
  font-size: 33px;
}

.service-description {
  opacity: 75%;
  font-size: 23px;
}
