.link-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #343842;
  color: rgb(247, 248, 251);
  border: solid 3px white;
  border-radius: 15px;
  margin: 1rem;
  height: 90%;
  padding: 1rem;
}
