.study-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center center center center;

  padding: 0;
  margin: 1vh 0vw;

}

.study-icon-container svg {

  padding-top: 0vh;
  margin-top: 0vh;

}



/* SMOKE Animation */
#smoke-1 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s ease infinite;
}

#smoke-2 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s 0.5s ease infinite;
}

@keyframes smoke {
  0% {
    stroke-dasharray: 0, 10;
  }
  50% {
    stroke-dasharray: 10, 0;
  }
  100% {
    stroke-dasharray: 10, 0;
    opacity: 0;
  }
}

/* WRITING Animation */
#line-1 {
  opacity: 0;
  animation: writing 10s 1.25s ease infinite;
}

#line-2 {
  opacity: 0;
  animation: writing 10s 1.6s ease infinite;
}

#line-3 {
  opacity: 0;
  animation: writing 10s 1.85s ease infinite;
}

#line-4 {
  opacity: 0;
  animation: writing 10s 2.2s ease infinite;
}

@keyframes writing {
  0% {
    width: 0px;
    opacity: 1;
  }
  98% {
    width: 13.8px;
    opacity: 0.5;
  }
  99% {
    width: 13.9px;
    opacity: 0.3;
  }
  100% {
    width: 14px;
    opacity: 0;
  }
}
