#matrix-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0vh;
  margin: 3vh;
}

#matrix {
  visibility: hidden;
  width: 3.5vw;
  height: 6.5vh;
  z-index: 4;
}

#matrix-container:hover #matrix {
  visibility: visible;
}
