.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

#settings-icon {
  position: absolute;
  right: 0.8vw;
  color: rgba(53, 52, 52, 0.548);
  margin: 1em 0.1em 0em 1em;
  font-size: 1.5rem;
  z-index: 3;
}

#settings-icon:hover {
  animation: clockwise 5s infinite;
}

@keyframes clockwise {
  0% {
    transform: rotate(-360deg);
    color: rgba(92, 129, 202, 1);
  }
}

.sidenav {
  font-family: "quicksand";
  height: 100vh;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  opacity: 0.9;
  z-index: 2;
  padding: 7vh 0;
  top: 0;
  right: -1vw;
  transition: width 0.35s;
  background-color: #cfe0e0;
  overflow-x: hidden;
  border-left: solid 4px black;
  display: inline-block;
}

#content-container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
#nav-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

#switch-container{
  position:absolute;
  top: .5vh;
  left: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.8vw;
  color: black;
  display: block;
  transition: 0.3s;
}

#login{
  text-decoration:underline;
}

.sidenav a:hover {
  color: rgba(249, 140, 112, 1);
  font-size: 1.9vw;
  background-color: white;
}

.github-button {
  margin: 5px 0px;
}
